@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700)

@import core/defaults
@import config

@import core/reset
@import core/cf

@import core/mixins

@import core/structure
@import components

//colors

@media #{$mobile-breakpoint}
  .desktoponly
    display: none !important
@media screen and (min-width: $mobile-breakpoint-val + 1)
  .mobileonly
    display: none !important

html
  font-size: 1rem
  @media #{$mobile-breakpoint}
    font-size: 0.8rem

.fadeElem
  transition: 0.5s opacity
  opacity: 1
  &.faded
    opacity: 0

body
  background: #272a26
  font-family: 'Roboto', sans-serif
  font-weight: 700
  
.content
  width: 100%
  max-width: 1250px
  margin: 0 auto
  padding: 0 $gutter
  +border-box