doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport",content="width=device-width, initial-scale=1")
  body
    block content
    script(src="/javascripts/hammer.min.js")
    script(src="/javascripts/analytics-events.js")
    script(src="/javascripts/compiled/main.js")
