doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/javascripts/hammer.min.js")
    script(src="/javascripts/analytics-events.min.js")
    script(src="/javascripts/compiled/main.js")
